In [13]:
import pandas as pd

# Read data from the notepad file
with open(r'C:\\Users\\alexb\\Downloads\\run_conditions.txt', 'r') as file:
    lines = file.readlines()


# Process the data and convert it into a list of dictionaries
data = []
current_date = None
for line in lines:
    line = line.strip()
    if line:
        if '-' in line:
            current_date = line
        else:
            values = line.split('\t')
            data.append({'Date': current_date, 'Rain_Total': values[0], 'Wind_Average': values[1], 'Temperature_Mean': values[2]})

# Create a DataFrame from the data list
df1 = pd.DataFrame(data)
# Create a DataFrame from the numbers list
df1.drop([0], axis=0)
df1

          Date  Rain_Total  Wind_Average  Temperature_Mean
0   2021-10-17  Rain_Total  Wind_Average  Temperature_Mean
1   2021-10-17         0.9          9.75              11.6
2   2018-10-21           0           4.3               8.3
3   2019-10-20           0        11.575               6.9
4   2017-10-22           0         19.25               9.9
5   2016-10-23           0         17.65               8.1
6   2022-10-16           0          5.45              11.7
7   2015-10-25           0           1.7               4.2
8   2014-10-26         0.2         14.35              13.9
9   2013-10-27           0        24.075              12.7
10  2012-10-28         0.4         9.125               2.4
11  2011-10-30         0.1         15.95              14.3
12  2010-10-24           0          9.85               4.7

In [14]:
df1.drop([0], axis=0)

          Date Rain_Total Wind_Average Temperature_Mean
1   2021-10-17        0.9         9.75             11.6
2   2018-10-21          0          4.3              8.3
3   2019-10-20          0       11.575              6.9
4   2017-10-22          0        19.25              9.9
5   2016-10-23          0        17.65              8.1
6   2022-10-16          0         5.45             11.7
7   2015-10-25          0          1.7              4.2
8   2014-10-26        0.2        14.35             13.9
9   2013-10-27          0       24.075             12.7
10  2012-10-28        0.4        9.125              2.4
11  2011-10-30        0.1        15.95             14.3
12  2010-10-24          0         9.85              4.7